---
layout: main
---



<%= partial '/partials/nav' %>

<div class="scroll-container">
<main class="section-container">

<section id="home" class="section-home _align-center">
  <div class="section-content">
    [ home video / full-screen pic ]
  </div>
</section>

<section id="about" class="section-about">
  <div class="section-content">
    <%= partial '/content/about' %>
  </div>
</section>

<section id="photos" class="section-photos">
  <div class="section-content">
    <%= partial '/content/photos' %>
  </div>
</section>

<section id="videos" class="section-videos">
  <div class="section-content">
    <%= partial '/content/videos' %>
  </div>
</section>

<section id="booking" class="section-booking">
  <div class="section-content">
    <%= partial '/content/booking' %>
  </div>
</section>

<section id="contact" class="section-contact">
  <div class="section-content">
    
    <%= partial '/content/contact' %>
  </div>
</section>

<section id="friends" class="section-friends">
  <div class="section-content">
    <%= partial '/content/friends' %>
  </div>
</section>

</main>

</div>
